<div class="row">
  <div class="col-md-9">
    {{#each posts}}
      <div class="page-header">
        <h2>{{this.title}} <br /> <small>{{this.author}}</small></h2>
        <p>{{this.body}}</p>
        <a href="#">Continue reading...</a>
        <h4>{{this.date}}</h4>
      </div>
    {{/each}}
  </div>
  <div class="col-md-3">
    <hr />
    <button type="button" class="btn btn-default social-btn">Follow On Twitter</button>
    <button type="button" class="btn btn-default social-btn">Like us on Facebook</button>
    <button type="button" class="btn btn-default social-btn">Explore our GitHub</button>
    <hr />
  <h3>News</h3>
    <ul>
      {{#each news}}
      <li><a href="{{this.link}}" class="links">{{this.title}}</a></li>
      {{/each}}
    </ul>

  </div>
</div>
